@font-face {
    font-family: "DCFont";
    src: url("dcfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
    padding-top:30px;
}
.parent{
    overflow-x: hidden;
}
body{
    background-color: #222222;
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.nav{
    font-family:"DCFont";
    color:#D3D3D3;
    letter-spacing: 0.5px;
}
.container{
    /*background-color: teal;*/
    display:inline-flex;
    align-items:flex-start;
    flex-wrap:wrap;
    justify-content: center;
    margin:10px;
}
.element{
    background-color: #3b3b3b;
    border-radius:15px;
    border:solid;
    /*border-color:;*/
    width:250px;
    height:300px;
    margin:10px;
    object-fit: contain;
    display:flex;
    align-items:flex;
    justify-content: center;
    flex-wrap:wrap;
    cursor: pointer;
}
.dragonImage{
    width:200px;
    height:200px;
    margin:auto;
    object-fit: contain;
    background-position:bottom center;
}
.elementImage{
    width:28px;
    height:39.2px;
    background-size: 28px 39.2px; 
    background-repeat:no-repeat;
    margin:auto;
}
.rarityImage{
    width:45px;
    height:40px;
    margin:auto auto;
    background-repeat: no-repeat;
    background-size:45px 40px;
}
.rarityImageFilter{
    width:45px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:45px 40px;
    cursor: pointer;
}
.dragonName{
    width:80%;
    background-color: #073763;
    border-radius:15px;
    margin:auto;
    color:#D3D3D3;
    font-family: "DCFont";
    letter-spacing: 0.5px;
}
.nav{
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.searchfilter{
    height: auto;
    background-color: #3b3b3b;
    border-radius: 20px;
    margin:10px;
    border:solid;
    border-width: 5px;
    border-color: #073763;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-wrap:wrap;
    
}
.searchbar{
    height:30px;
    border-radius:10px;
    background-color: #2b2b2b;
    width:50%;
    margin:1%;
    color:white;
    white-space: nowrap;
    overflow: hidden;
    padding-top:10px;
    padding-left:5px;
}
.searchbutton{
    background-image:url(search-icon.png);
    width:38px;
    height:44px;
    margin-left:10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:38px 44px;
    background-position: center center;
}
.elementFilter {
    width:55px;
    height:50px;
    border-radius: 10px;
    background-position: center center;
    background-color:  transparent;
    background-repeat: no-repeat;
    background-size: 28px 39.2px;
}
option{
    width:28px;
    height:39.2px;
    border-radius: 10px;
    background-position: center center;
    background-color:  transparent;
    background-repeat: no-repeat;
    background-image: red;
    background-size: 28px 39.2px;
    display:flex;
}
.navbar{
    height:50px;
    width:99%;
    background-color: #3b3b3b;
    position:fixed;
    top: 0;
    border-bottom: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
    border-color: #073763;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.imagecontainer{
    width:89%;
    height:300px;
    border:solid;
    border-color:#073763;
    border-width: 5px;
    border-radius:15px;
    justify-content: center;
    margin:20px auto;
    background-color: #3b3b3b;
    display:flex;
}
.mainimages{
    width:95%;
    height:95%;
    background-color:#2b2b2b;
    margin:auto auto;
    display:flex;
    overflow-x:auto;
    flex-wrap: nowrap;
    border-radius: 15px;
}
.mainimages img{
    object-fit: contain;
    width:250px;
    height:250px;
    margin:auto auto;
}
.nameplate{
    width: fit-content;
    padding-left:10px;
    padding-right: 10px;
    height:fit-content;
    border:solid;
    border-color:#073763;
    border-width: 5px;
    border-radius:15px;
    justify-content: center;
    margin:10px auto;
    background-color: #3b3b3b;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
}
.nameitem{
    margin:auto auto;
}
.elementImageFilter{
    width:28px;
    height:39.2px;
    background-size: 28px 39.2px; 
    background-repeat:no-repeat;
    margin-left:10px;
    margin-right:10px;
}
.attackelementcontainer{
    width:100%;
    height:fit-content;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.attackelement{
    width:35%;
    height:fit-content;
    min-width:300px;
    background-color: #3b3b3b;
    margin:10px;
    border-radius: 15px;
    border:solid;
    border-color:#073763;
    justify-content: center;
    align-content: center;
}
.attack, .attackt{
    width:90%;
    height:fit-content;
    min-height:50px;
    margin:10px auto;
    border-radius: 10px;
    background-color: #1b1b1b;
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;;
}
.attackName, .attackPower{
    /*margin:auto auto auto 10px;*/
    margin:10px auto auto auto;
    font-family: "DCFont";
    font-size:20px;
}
/*
.attackName{
    make position relative and then make the arrow absolute below it
}
*/
.attackElement{
    width:30px;
    height:30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin:10px auto auto 20px;
}
.skillBorder{
    position: absolute;
    top: 78%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 102px;
    height: 102px;
    background: url(Static_Images/skill-border.png);
    background-size:85px 85px;
    background-repeat: no-repeat;
    z-index: 2;
}
.generalSkillInfo{
    width:95%;
    height: fit-content;
    background-color: #2B2B2B;
    color:#D3D3D3;
    font-family: 'DCFont';
    border-radius: 5px;
    margin:auto auto 10px auto;
    white-space: pre-line
}
.expandButton{
    width:100px;
    height:15px;
    /*flex-basis: 40%;*/
    margin-left:100px;
    border-radius: 15px;
    margin: auto auto 5px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 9px;
    background-image: url(expandButton.png);
    background-color: #2b2b2b;
}
.flexBreak{
    height:0px;
    flex-basis: 100%;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius:10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius:10px;
}
