@font-face {
    font-family: "DCFont";
    src: url("dcfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}
body{
    background-color: #222222;
}
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}
.container{
    /*background-color: teal;*/
    display:inline-flex;
    align-items:flex-start;
    flex-wrap:wrap;
    justify-content: center;
    margin:10px;
}
.element{
    background-color: #3b3b3b;
    border-radius:15px;
    border:solid;
    /*border-color:;*/
    width:250px;
    height:300px;
    margin:10px;
    object-fit: contain;
    display:flex;
    align-items:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.dragonImage{
    width:200px;
    height:200px;
    margin:auto;
    object-fit: contain;
    background-position:bottom center;
}
.elementImage{
    width:28px;
    height:39.2px;
    background-size: 28px 39.2px; 
    background-repeat:no-repeat;
    margin:auto;
}
.rarityImage{
    width:45px;
    height:40px;
    margin:auto auto;
    background-repeat: no-repeat;
    background-size:45px 40px;
}
.rarityImageFilter{
    width:45px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:45px 40px;
}
.dragonName{
    width:80%;
    background-color: #073763;
    border-radius:15px;
    margin:auto;
}
.nav{
    color:white;
    margin-left:auto;
    margin-right:auto;
}
.searchfilter{
    height: auto;
    background-color: #3b3b3b;
    border-radius: 20px;
    margin:10px;
    border:solid;
    border-width: 5px;
    border-color: #073763;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    flex-wrap:wrap;
    
}
.searchbar{
    height:30px;
    border-radius:10px;
    background-color: #2b2b2b;
    width:50%;
    margin:1%;
    color:white;
    white-space: nowrap;
    overflow: hidden;
    padding-top:10px;
    padding-left:5px;
}
.searchbutton{
    background-image:url(search-icon.png);
    width:38px;
    height:44px;
    margin-left:10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-size:38px 44px;
    background-position: center center;
}
.elementFilter {
    width:55px;
    height:50px;
    border-radius: 10px;
    background-position: center center;
    background-color:  transparent;
    background-repeat: no-repeat;
    background-size: 28px 39.2px;
}
option{
    width:28px;
    height:39.2px;
    border-radius: 10px;
    background-position: center center;
    background-color:  transparent;
    background-repeat: no-repeat;
    background-image: red;
    background-size: 28px 39.2px;
    display:flex;
}
.navbar{
    height:50px;
    width:99%;
    background-color: #3b3b3b;
    position:sticky;
    top: 0;
    border-bottom: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 5px;
    border-color: #073763;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.imagecontainer{
    width:89%;
    height:300px;
    border:solid;
    border-color:#073763;
    border-width: 5px;
    border-radius:15px;
    justify-content: center;
    margin:20px auto;
    background-color: #3b3b3b;
    display:flex;
}
.mainimages{
    width:95%;
    height:95%;
    background-color:#2b2b2b;
    margin:auto auto;
    display:flex;
    overflow-x:auto;
    flex-wrap: nowrap;
    border-radius: 15px;
}
.mainimages img{
    object-fit: contain;
    width:250px;
    height:250px;
    margin:auto auto;
}
.nameplate{
    /*width:95%;*/
    width: fit-content;
    padding-left:10px;
    padding-right: 10px;
    height:50px;
    border:solid;
    border-color:#073763;
    border-width: 5px;
    border-radius:15px;
    justify-content: center;
    margin:20px auto;
    background-color: #3b3b3b;
    display:flex;
    align-items:center;
}
nameitem{
    margin:auto auto;
}
.elementImageFilter{
    width:28px;
    height:39.2px;
    background-size: 28px 39.2px; 
    background-repeat:no-repeat;
    margin-left:10px;
    margin-right:10px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius:10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius:10px;
}
